<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="APPServer-features-test-suite">
    <parameter name="useDefaultListeners" value="false"/>

    <test name="logviewer-tests" parallel="false">
       <packages>
           <package name="org.wso2.appserver.integration.tests.logviewer.*"/>
       </packages>
    </test>
    <test name="capp-tests" parallel="false">
       <classes>
           <class name="org.wso2.appserver.integration.tests.carbonappservice.WSAS1798CAppWarUndeployTest"/>
       </classes>
    </test>


</suite>